/* For webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #2e2e2e;
}

::-webkit-scrollbar-thumb {
  background: #5d5d5d;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8a8a8a;
}

::-webkit-scrollbar-thumb:active {
  background: #71717a;
}
