/* html {
  overflow-y: scroll;
  scrollbar-gutter: stable;
} */

/* For webkit browsers (Chrome, Safari, Edge) */
/* body._cs  */
:root {
  --scrollbar-track: "#fafafa";
  /* --scrollbar-thumb: "#b6b6b6"; */
  --scrollbar-thumb: "#000000";
  --scrollbar-thumb-hover: "#8a8a8a";
  --scrollbar-thumb-active: "#8a8a8a";
}

._cs::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

._cs::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

._cs::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 8px;
}

._cs::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

._cs::-webkit-scrollbar-thumb:active {
  background: var(--scrollbar-thumb-active);
}

/* ----- new custom scrollbar ----- */
._scrollbar-override::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

._scrollbar-override::-webkit-scrollbar-track {
  background: transparent;
}

._scrollbar-override::-webkit-scrollbar-thumb {
  background: #e0e0e0;
  border-radius: 0px;
}

._scrollbar-override::-webkit-scrollbar-thumb:hover {
  background: #bababa;
}

._scrollbar-override::-webkit-scrollbar-thumb:active {
  background: rgb(165, 165, 165);
}
