@layer base {
  ._ui :not(._ui-reset, ._ui-reset *) h1 {
    @apply /* Same as: font-size: var(--text-5xl); font-weight: 700; line-height: 1.1; */ text-5xl/[1.1] font-[800];
  }
  ._ui :not(._ui-reset, ._ui-reset *) h2 {
    @apply text-4xl/[1.2] font-bold;
  }
  ._ui :not(._ui-reset, ._ui-reset *) h3 {
    @apply text-3xl/[1.3] font-[600];
  }
  ._ui :not(._ui-reset, ._ui-reset *) h4 {
    @apply text-2xl/[1.4] font-medium;
  }
  ._ui :not(._ui-reset, ._ui-reset *) h5 {
    @apply text-xl font-medium;
  }
  ._ui :not(._ui-reset, ._ui-reset *) h6 {
    @apply text-lg font-medium;
  }
  ._ui :not(._ui-reset, ._ui-reset *) p {
    @apply text-base/5;
  }
  ._ui :not(._ui-reset, ._ui-reset *) .caption {
    font-size: var(--text-sm);
    color: var(--text-secondary);
  }
}
