.gradient-blur-animation {
  animation: gradientBlur 5s ease-in-out forwards;
  animation-delay: 3s;
}

@keyframes gradientBlur {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: scale(1.3) rotate(90deg);
  }
  50% {
    transform: scale(1) rotate(180deg);
  }
  80% {
    transform: rotate(270deg) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(0);
  }
}
